@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navbar-main {
        @apply bg-black/25 flex h-20 w-screen justify-around items-center md:flex-col md:w-24 md:h-screen grow-0 shrink-0 fixed top-0 p-4;
    }

    .navbar-icon {
        @apply bg-neutral-700 hover:bg-main-blue active:bg-active-blue focus:ring-blue-300 text-neutral-200 hover:text-white active:text-white relative flex items-center justify-center w-16 h-16 my-2 mx-auto focus:ring-4 rounded-xl hover:rounded-xl transition-all duration-300 ease-in-out cursor-pointer;
    }

    .profile-icon {
        @apply bg-gray-800 hover:bg-highlight-blue active:bg-active-blue focus:ring-blue-300 text-main-blue hover:text-white active:text-white justify-center text-center items-center rounded-3xl hover:rounded-xl transition-all duration-300 ease-in-out cursor-pointer focus:ring-4 font-medium text-sm p-8 w-16 h-16 lg:w-28 lg:h-28 focus:outline-none;
    }

    .icon-size {
        @apply text-[48px];
    }

    .navbar-tooltip {
        @apply bg-gray-900 text-white absolute w-auto p-2 m-2 min-w-max top-20 md:left-20 md:top-0 rounded-md shadow-md text-xs font-bold transition-all duration-100 scale-0 origin-left;
    }

    .error-input {
        @apply bg-red-50 focus:ring-red-500 text-red-900 placeholder-red-700 border-red-500 focus:border-red-500 rounded border block;
    }

    .button-style {
        @apply bg-main-blue hover:bg-active-blue focus:ring-4 focus:ring-blue-800 text-black hover:text-main-text m-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none transition-all duration-300;
    }

    /* .modal-button-style {
        @apply bg-modal-white hover:bg-active-blue focus:ring-4 focus:ring-blue-800 text-black hover:text-main-blue m-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none transition-all duration-300;
    } */

    .confirm-button-style {
        @apply bg-green-700 hover:bg-green-900 focus:ring-4 focus:ring-blue-800 text-black hover:text-white m-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none transition-all duration-300;
    }

    .delete-button-style {
        @apply bg-red-700 hover:bg-red-900 focus:ring-4 focus:ring-blue-800 text-black hover:text-white m-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none transition-all duration-300;
    }

    .title-text {
        @apply text-center text-4xl font-display-text-f mb-6;
    }

    .heading-text {
        @apply text-center text-3xl mb-2 font-main-text-f;
    }

    .h2-text {
        @apply text-center text-2xl font-main-text-f;
    }

    .cards-container {
        @apply text-main-bg w-full h-auto p-6 rounded;
    }

    .card-style {
        @apply bg-gradient-to-r from-main-bg to-alt-bg text-main-text border-highlight-blue p-8 m-2 rounded-2xl border-2;
    }

    .card-flex {
        @apply flex flex-col;
    }

    .modal-header {
        @apply bg-active-blue;
    }

    .modal-body {
        @apply bg-modal-gray text-black;
    }

    .center-all {
        @apply justify-center items-center text-center;
    }

    .gl-scrollbar {
        @apply scrollbar-thin scrollbar-track-alt-bg scrollbar-thumb-highlight-blue;
    }

}

body {
    background-color: #171717;
    color: white;
}

input, ::selection {
    color: black;
}

/* Pretty Links */
a {
    text-decoration: none;
    color: white
}